.hideInfo {
    display: none;
}

.navItems {
    margin-left: 20px;
}



.card-config {
   
    margin-bottom: 60px;
    width: 20rem;
}
.card-img {
    height:350px;
}
.card-intro {
    height: 65px;
}

.card-list-config {
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 40px;
}
.one-card {
	transition: all 0.6s;
}

.one-card:hover {
    transform: scale(1.2);
    z-index:30;
}

.pags {
    margin-top: 4%;
    position: absolute;
    left: 50%;
    transform : translate(-50%, 0%);
}

.nav-title {
    margin-left: 20px;
}

.detail-img {
    height: 500px;

}

.comic-detail {
    margin-left: 10%;
    margin-top: 4%;
    margin-right: 10%;
}

.labelLen {
    width : 10
    100px;
}

.detail-width {
    width: 600px;
}

.top-margin-10 {
    margin-top:10%;
}
.top-margin-5 {
    margin-top: 5%;
}

.detail-hero-img {
    margin-top : 3%;
    height: 280px;
    width: 400px;
}
.profile-top-2 {
     margin-top:2%;
}

.profile-elements {
    margin-top:3%;
    position: relative;
    max-height: 400px;
    overflow: scroll;
}

.hero-detail { 
    width: 80%;
    position: absolute;
    left:50%;
    transform: translate(-50%, 0%);
}

.horizonal-middle {
    position: absolute;
    left:50%;
    transform: translate(-50%, 0%);
}

.passage-center {
   
    margin-bottom: 4%;
    margin-left: 4%;
    margin-right: 4%;
}

.min-height-profile {
    min-height: 400px;
}

.bottom-20{
    margin-bottom: 20px;
}
.right-3 {
    margin-right: 3%;
}
.left-10 {
    margin-left: 10%;
}


