.hideInfo {
    display: none;
}

.navItems {
    margin-left: 20px;
}

.pagination {
    width: 100px;
}

.card-config {
   
    margin-bottom: 60px;
    width: 20rem;
}
.card-img {
    height:350px;
}
.card-intro {
    height: 65px;
}

.card-list-config {
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 40px;
}
.one-card {
	transition: all 0.6s;
}

.one-card:hover {
    transform: scale(1.2);
    z-index:30;
}

.pags {
    margin-top: 3%;
    position: absolute;
    left: 50%;
    transform : translate(-50%, 0%);
}

.nav-title {
    margin-left: 20px;
}

.detail-img {
    height: 500px;

}

.comic-detail {
    margin-left: 8%;
    margin-top: 4%;
}
.comic-detail-info {
    margin-left : 4%;
}

.labelLen {
    width : 10
    100px;
}

.detail-width {
    width: 600px;
}

.top-margin-10 {
    margin-top:10%;
}

.pag-width {
    width: 320px;
}

